* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 150px;
    background-color: #f2f2f2;
}

main {
    flex: 1;
    display: flex;
}

.table-container {
    width: 90%;
    padding: 10px;
}

.sidebar {
/*    width: 15%;*/
/*    padding: 10px;*/
    border: 1px;
    border-color: black;
    border-style: solid;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

footer {
    height: 100px;
    background-color: #f2f2f2;
}
ul{
    border: 1px solid black;
    margin-top: 10px;
/*    padding-top: 5px;
    padding-bottom: 5px;*/

    padding: 5px;
}


.breadcrumb {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  padding: 10px;
}

.breadcrumb-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.breadcrumb-item {
  margin: 0;
  padding: 10px;
}

.breadcrumb-item:not(:last-child):after {
  content: "/";
  margin: 0 0.5em;
}